###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Cosmic_TSS/Logs/shadercompiler-UnityShaderCompiler.exe0.log
